{{> header}}
<main>
  <h2>Ласкаво просимо на сайт нашої онлайн-клініки</h2>
  <p>За допомогою навігаційного меню ви зможете знайти потрібну інформацію, як-от список лікарів або перенаправлення до спеціалістів.</p>
</main>

{{> footer}}